 .conteiner{
        background-color: tomato;
        color: white;
        margin: 0 px;
        padding: 20px;
    }

    img{
        width:200px;
        border-radius: 40%;

       }


    .imagen {
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
           } 
        
.contenedor:hover 
.imagen {-webkit-transform:scale(1.2);transform:scale(1.2);}
.contenedor {overflow:hidden;}

    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #aside {
        background-color:rgb(178, 178, 224);
        float:left;
        height:900px;
        padding:20px;
        width:30%;
        border: 3px solid #ffffff;
        letter-spacing: 1px;
        line-height: 1.5;
           }

     #contenido {
            background-color:#ffffff;
            float:left;
            height: 900px;
            padding:10px;
            width:70%;
            border: 3px solid #ffffff;
            letter-spacing: 1px;
            line-height: 1.5;
            
                }

    h1 {
        color: rgb(89, 157, 212)(0, 140, 255);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
      
      }
    
      h2 {
        color: rgb(89, 157, 212)(0, 140, 255);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
      }
    
      h3 {
        color: rgb(89, 157, 212)(0, 140, 255);
        text-align: left;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    h3 {
        color: rgb(89, 157, 212)(0, 140, 255);
        text-align: left;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 10px;
        margin-left: 10px;
    }